.box {
  width: 100%;
  margin: 15px 0px;
  padding: 12px 30px;
  background: $c-white;
  box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0px 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
}

.pseudo-box {
  width: 100%;
  margin: 15px 0px;
  padding: 12px 30px;
}

.box.secondary {
  background: $c-semi-yellow;
}

// Text input
.box input[type="text"],
textarea {
  width: 100%;
  font-size: 14px;
  resize: none;
  color: $c-black;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid $c-gray;
}

// Option input
.box select {
  width: 100%;
  font-size: 14px;
  resize: none;
  color: $c-black;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid $c-gray;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0;
}

// Checkbox input
ul.my-checkbox {
  font-size: 14px;
  list-style: none;
  padding: 0px 20px;
}
ul.my-checkbox li {
  display: inline;
}
ul.my-checkbox li label {
  display: inline-block;
  background-color: $c-white;
  border: 2px solid $c-primary;
  color: $c-black;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
}

ul.my-checkbox li label {
  padding: 8px 12px;
  cursor: pointer;
}

ul.my-checkbox li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
  transition: transform 0.3s ease-in-out;
}

ul.my-checkbox li input[type="checkbox"]:checked + label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform 0.3s ease-in-out;
}

ul.my-checkbox li input[type="checkbox"]:checked + label {
  border: 2px solid $c-tail;
  background-color: $c-primary;
  color: $c-white;
  transition: all 0.2s;
}

ul.my-checkbox li input[type="checkbox"] {
  display: absolute;
}
ul.my-checkbox li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.my-checkbox li input[type="checkbox"]:hover + label {
  border: 2px solid $c-secondary;
}

// Table
table.my-table {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
}

table.my-table td,
table.my-table th {
  border: none;
  padding: 8px;
}

table.my-table tr:nth-child(even) {
  background-color: $c-semi-gray;
}

table.my-table tr:nth-child(odd) {
  background-color: $c-white;
}

table.my-table tr:hover {
  background-color: $c-secondary;
}

table.my-table th {
  text-align: left;
  background-color: $c-primary;
  color: $c-white;
}
