body {
  background-color: $c-semi-gray;
}

.no-margin {
  margin: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.success {
  background-color: $c-green;
}

.error {
  background-color: $c-red;
}

.active {
  background-color: $c-tail;
}

.error-msg-plain {
  margin: 0;
  color: $c-red;
}

.error-msg {
  position: absolute;
  margin: 0;
  bottom: 0;
  color: $c-red;
  font-size: 14px;
}

.success-msg {
  position: absolute;
  margin: 0;
  bottom: 0;
  color: $c-green;
}