body {
  background-color: $c-semi-gray;
}

.no-margin {
  margin: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.success {
  background-color: $c-green;
}

.error {
  background-color: $c-red;
}

.active {
  background-color: $c-tail;
}
