.site-header {
  background-color: $c-primary;
  width: 100%;
  height: 55px;
  line-height: 55px;
  padding: 0px 15px;
}

.site-header .logo {
  height: 40px;
  width: 40px;
  float: left;
}

.site-header .logo img {
  height: auto;
  width: 100%;
  vertical-align: middle;
}

.site-header .router {
  color: $c-white;
  height: 55px;
  line-height: 55px;
  text-align: center;
}
