.my-modal {
  span.title {
    color: $c-black;
    font-size: 24px;
    margin-bottom: 16px;
  }
  label {
    color: $c-black;
    margin-left: 2px;
  }
  .close-button {
    background-image: url("../img/close.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 0;
    position: relative;
    margin-bottom: -32px;
    bottom: 8px;
    left: 8px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
  .modal-content {
    border-radius: 8px;
    input,
    textarea {
      border-radius: 8px;
      width: 100%;
      border: 1px solid #d8d8d8;
      padding: 4px 8px;
    }
    textarea {
      resize: vertical;
    }
  }
  table {
    width: 100%;
    tr {
      width: 100%;
      td {
        width: 48%;
        .btn {
          width: 100%;
        }
      }
    }
  }
  .wallet-address {
    text-align: center;
  }
}
.wallet-modal {
  ul.wallet-menu {
    list-style-type: none;
    padding-left: 0;
    width: 160px;
    display: inline-block;
    width: 166px;
    li {
      font-size: 16px;
      line-height: 20px;
      padding: 12px 24px;
      cursor: pointer;
      color: #9b9b9b;
      border-bottom: 1px solid #f4f4f4;
      &:hover {
        color: black;
      }
      &.active {
        background-color: #f4f4f4;
        color: black;
        width: 167px;
        border: 1px solid #9b9b9b;
        border-right: 0;
        border-radius: 8px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &.prev {
        border-bottom: 1px solid transparent;
      }
    }
  }
  .wallet-content {
    float: right;
    display: block;
    width: 580px;
    padding: 10px 20px 20px;
    background-color: #f4f4f4;
    border: 1px solid #9b9b9b;
    border-radius: 8px;
    border-top-left-radius: 0;
    color: $c-black;
    .type {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left center;
      padding-left: 28px;
      &.recommended {
        background-image: url("../img/ic-round-check.svg");
      }
      &.not-recommended {
        background-image: url("../img/ic-round-warning.svg");
      }
    }
  }
  .wallets {
    overflow: hidden;
    margin: 0 auto;
    width: 560px;
    .vl {
      border-left: 1px solid #e4e4e4;
      height: 154px;
      position: absolute;
      margin-left: -3px;
      top: 130px;
    }
    .wallet {
      position: relative;
      float: left;
      display: block;
      width: 168px;
      .icon {
        width: 116px;
        height: 116px;
        background-repeat: no-repeat;
        background-size: contain;
        margin: auto;
      }
      a {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
}
/* Responsive */
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767px) {
}

// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991px) {
}

// Large devices (desktops, less than 1200px)
@media (min-width: 992px) and (max-width: 1199px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
